# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\测试代码\learn_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
